<!--Layout for the bindex view -->

<!--Page Header-->
<div class="container">
  <h1>Eat-Da-Burger!</h1>
  <img src="/assets/img/burger.png" alt="burger" height="150" width="150">
</div>



<div class="container">
  <div class="row">
    <!--Burgers to be eaten section-->
    <div class="col-md-6">
      <h2>Burgers to be devoured!</h2>
      <ul>
        {{#each burgers}}
          {{#unless this.devoured}}
            <li>
            <strong>{{this.burger_name}}</strong>
            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
              <input required=true name="customer_name" placeholder="customer?">
              <button type="submit">Devour!</button>
            </form>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <!--Burgers that have been eaten section-->
    <div class="col-md-6">
      <h2>Burgers that have been devoured!</h2>

      <ul>
        {{#each burgers}}
          {{#if this.devoured}}
            <li>
            {{this.burger_name}}: eaten by {{this.customer_name}}
            </li>
          {{/if}}
        {{/each}}
      </ul>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Add a Burger</h2>
    <form class="create-update-form" action="/" method="POST">

      <div class="form-group">
        <label for="bu"><h3>Burger Name:</h3></label>
        <input type="text" required="required" id="bu" name="burger_name">
      </div>

      <button type="submit">Add Burger</button>
    </form>

  </div>
</div>







